/* ============ GOOGAL FONT ============ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* ============ VARIABELS ============ */
:root{
    /* ====== Color ====== */
    --hotpink:#ff69b4;
    --white:#fff;
    


    /* ====== Font and Typography ====== */
    --body-font:'Poppins', sans-serif;
}

/* ============ base ============ */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 520px;
    width: 90%;
    height: 220px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background-color:var(--hotpink);
    column-gap: 10px;
}



.container__time-conatiner{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color:var(--white);
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.am_pm{
    position: absolute;
    right: 60px;
    top: 50px;
    color: var(--white);
    font-family: var(--body-font);
    font-weight: 600;

}

span{
    color: var(--hotpink);
    font-family: var(--body-font);
}

.time-num{
    font-size:40px;
}

.time-text{
    position: absolute;
    bottom: 5px;
    font-size: 13px;
}


